baseURL = "https://tomcode.net"
defaultContentLanguage = "en"
languageCode = "en"
title = "tomcode.net"

theme = "loveit"

[params]
  version = "0.2.X"

[menu]
  [[menu.main]]
    identifier = "posts"
    # you can add extra information before the name (HTML format is supported), such as icons
    pre = ""
    post = ""
    name = "Posts"
    url = "/posts/"
    # title will be shown when you hover on this menu link
    title = ""
    weight = 1
  [[menu.main]]
    identifier = "categories"
    pre = ""
    post = ""
    name = "Categories"
    url = "/categories/"
    title = ""
    weight = 2

[markup]
  [markup.highlight]
    noClasses = false

